@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700&display=swap');

html,
body {
    background-color: black;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    user-select: none;

}

html {
    scroll-behavior: smooth;
}
.page-1{
    background-image: url(../assets/images/main-bg.jpg); 
    background-size: cover;
    background-position: center;    
}
/*===============NAV SECTION======================*/

.nav-all{
    height:80px;
    margin-top:10px;
    background-color: black;
    opacity: 0.5;
}

#nav-logo{
    margin-left: 100px;
    margin-right: -200px;
    color: white;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 3px;
}
#nav-2 li{
    margin-right: 20px;
}
#nav-2 li a{
    color: white;
    font-weight: 500;
}
#nav-3 li{
    margin-right: 30px;
}
#nav-3 li a{
    color: white;
    font-weight: 500;
}

/*===============PAGE 1======================*/

.center-all{
    text-align: center;
}
.header-style{
    width:100%;
    height:90%;
    color: white;
    text-align:center;
}

.info-1 {
    max-width: 100vw !important;
    padding: 0 !important;
    overflow: hidden;
}

.header-1{
    width: 100%;
    padding-top: 10%;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5625rem;
}

.header-1 span{
    width: 100%;
    padding-top: 10%;
    font-size: 1rem;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5625rem;
}

.btn-1{
    height: 50px;
    width: 250px;
    font-weight: 700 !important;
    padding-top: 10px !important;
}

/*===============PAGE 2======================*/

.page2{
    position: relative;
    background-image: url(../assets/images/the-games-bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    }
    
.contain{
        padding-top: 10%;
    }
    
.container-dua{
        size: 70%;
    }
.col-3 h4{
        padding-left: 100px;
        color: #fff;
    }
    
.col-3 h1{
        padding-left: 100px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        }
#carouselku{
        size: 50%;
        padding-top: 100px;
        margin-left: -140px;
        
    }
.carousel-item {
        text-align: center;
        padding-bottom: 200px;
        }
.carousel-indicators li{
        height: 1rem !important;
        width: 2rem !important;
        border-radius: 50% !important;
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        
    }
    
.carousel-indicators button {
        margin-top: -240px;
        width: 0.5rem !important;
        height: 0.5rem !important;
    }
.carousel-control-next{
        margin-right: -4rem;
    
    }
.carousel-control-prev{
        margin-left: -4rem;
 }

.page3{
        position: relative;
        background-image: url(../assets/images/features.jpg);
        min-height: 100vh;
        background-size: cover;
        background-position: center;
}
.timeline{
    padding-left: 100px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;    
    padding-bottom: 20px;
}
.timeline h1{
    font-size: 24pt;
    color: #ff9900;
}
.contain3{
    padding-top: 10%;
}
.feature{
    color: #fff;
}
.feature h1{
    font-size: 48pt;
    text-transform: uppercase;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #111;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.page-4{
    background-image: url(../assets/images/requirements.png);
}
.sysreq {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    text-align: center;
}

.sysreq h1 {
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

.req-info-top {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: -1.5rem;
}

.rq-table-title {
    font-size: 3rem;
    color: white;
    line-height: 3rem;
}

.table-content-sys {
    max-width: 30vw !important;
}

.requirements-info {
    font-family: Arial, Helvetica, sans-serif;
    color: #FBB341;
    font-style: normal;
    font-size: 1.5rem;
}

.requirements-info-content {
    color: white;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    line-height: 1rem;
}

.table-bordered th {
    border: #212226 1px solid !important;
}

.table-bordered td {
    border: #212226 1px solid !important;
}
#top-scores{
    color: #111;
}
.score {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/top-score-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}

.score-content {
    max-width: 100vw !important;
}

.score-left-side {
    color: white;
}

.score-right-side {
    margin-left: 2rem;
    margin-right: 2rem;
}

.score-content-title,
.score-content-info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.score-content-title {
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

.score-content-info {
    font-size: 1rem;
    line-height: 0.25rem;
}

.score-content-btn {
    margin-top: 1.5rem;
    background-color: #FBB341;
    border: none;
    width: 12rem;
    height: 3rem;
    font-weight: bold;
}

.score-content-btn:hover {
    background-color: #E0A800;
}

.footer {
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

.footer-content-left {
    text-align: center;
}

.footer-content-right {
    color: white;
}

